/* setting fonts */
*{
    color: var(--whiteC);
   
    font-family: 'Bebas Neue', cursive;
}

h1, h2, h3{
    font-family: 'Hind', sans-serif;
}

body{

    overflow-x: hidden;
    background-color: var(--blackC);
}

/* SETTING COLORI */



:root{

    --primary :#0f0876cc;
    --secondary : #ff6e4a;
    --accent :rgb(226, 182, 89);
    --whiteC : #ffffff;
    --blackC : #151313;


}

/* CLASSI COLORI TESTI */

.text-primaryC{

    color: var(--primary);
}

.text-secondaryC{

    color: var(--secondary);

}

.text-accentC{

    color: var(--accent);
}

.text-whiteC{

    color: var(--whiteC);
}

.text-blackC{

    color: var(--blackC);
}

/* CLASSI COLORI BACKGROUND */

.background-primaryC{

    background-color: var(--primary);
}

.background-secondaryC{

    background-color: var(--secondary);

}

.background-accentC{

    background-color: var(--accent);
}

.background-whiteC{

    background-color: var(--whiteC);
}

.background-blackC{

    background-color: var(--blackC);
}

/* HEADER CUSTOM */

.headerCustom{

    background:  linear-gradient(350deg, rgba(255, 255, 255, 0.739), rgba(0, 0, 0, 0.694)) ,url(./media/batman\ sfondo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-Custom{

    background-color: var(--accent);
    color: var(--blackC);
    transition: 0.6s;
}

.btn-Custom:hover{

  

    background-color: var(--blackC);

    color: var(--whiteC);
}

.logoA{

    width: 80px;
}

#navIcon{

    transition: 0.6s;
}

#mainNavbar{

    transition: 0.4s;
    height: 60px;
}

.increment-numbers{

    font-size: 100px;
    color: var(--accent);
    font-weight: 900px;
}
/* swiper CSS */
.swiper {
    /* width: 600px; */
    height: 500px;
  }

  .card-custom{

    height: 200px;
    width: 300px;
    border: 2px solid var(--secondary);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* SEZIONE MOUSE ENTER */

.col-custom{

    border: 3px solid var(--secondary);
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--blackCustom);
    padding: 20px;

    transition: 0.4s;

}

.col-custom:hover{

    background-color: var(--blackCustom);
    color: var(--primary);
    transform: scale(1.2);
}

@media screen and (max-width: 900px) {

    .col-custom:hover{

        transform: scale(0.9);
    
    }
    
}

/* footer */

.min-h{

    min-height: 50px;

}

.footer-link{

    text-decoration: none;
    color: var(--blackCustom);

}

.footer-link:hover{

    color: var(--whiteCustom);

}

.divVuoti{
    height: 50px;
}

/* pagina annunci */

/* cards annunci */

.announcement-card{

    min-height: 300px;
    border: 2px solid var(--secondary);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
